/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/*.log
/.lein-*
/.nrepl-port
.hgignore
.hg/
nashorn_code_cache
.cljs_nashorn_repl
.lein-failures
.DS_Store
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port-
.idea/
node_modules/
package-lock.json
*.iml
pom.xml
/public/js
.shadow-cljs
